<<html>
    <head>
        
    <title>Thanks</title>
    <style>
        
        
        button{
            margin:15px 0px;
            width:200px;
            border-radius: 20px;
            align-content: center;
            cursor:pointer;
            align-items: center;
            background:pink;
            color: blue;
            text-align: center;
            padding:10px 20px;
            
        }
    
    
        label{
            display:block;
            font-size: 20px;
    
        }
    
    
    </style>
    </head>
    <body style="background-color: blue;">
        
        
        <div class="container">
            
            
            












                <marquee behavior="slide" direction="up" style="color: white;"> <h2>We Highly appriciate for Your Surport to ensure that there is free Malpractices in our country</h2></marquee>
                <marquee behavior="scroll" direction="up" style="color: white;"> <h2>We Will ensure that The DCI receives the message and the necessary action be taken.</h2></marquee>
                <marquee behavior="alternate" direction="up" style="color: white;"> <h2>We Welcome you next time</h2></marquee>
                
            
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.586415635577!2d34.52044811415767!3d0.6177573995493177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1781d7406e0bee99%3A0xf0862b2a391c4314!2sKibabii%20University!5e0!3m2!1sen!2ske!4v1677162461655!5m2!1sen!2ske" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
                <button><a href="/evidence" style="color: blue;">Back</a></button>
                <button><a href="{% url 'home' %}" style="color: blue">Next</a></button>
               
        </div>
    
    
    </form>
    </body>
    </html>